.jumbotron {
  Background-color: transparent;

  color: red;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: deepskyblue;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px;
    margin-left: 5%;
    margin-right: 5%;
    color:black;
  }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
.example a:link, .example a:visited {
  color: green;
}
.example a:hover {
  color: black;
  background-color: red;
}
.pokeballicon {
  background: url('Poké_Ball_icon.svg.png');
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}
.navbar{
  background-color: rgba(230, 230, 240, 0.7);
  font-family: 'Bree Serif';font-size: 22px;
  margin-left: 15%;
  margin-right: 15%;
  Color:deepskyblue;
  border-bottom: 1px solid lightblue;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.backgroundimage{

  Height: 25cm;
  background-color: white;
  background-image: url('http://www.canvaz.com/portrait/charcoal-1.jpg');
  background-size: 100% auto;

  background-repeat: no-repeat;
  background-position: top center;
}
.navbar-nav{
  Color:deepskyblue;
}