

.TierListNavigation nav{
    height: 1.7rem;
    margin-left: 9.9%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: -1px;
    padding:0rem 0rem;

}



.TierListNavigation nav .title{
    margin: 1.2rem;
    margin-left: 4rem;
    font-size: 1.5rem;
    font-family: "Bree Serif";
    font-weight: bolder;
    color: deepskyblue;

}
.TierListNavigation nav ul{
    margin-top: 0px;

    margin-left:0px;
    padding-left: 0px;
    display:flex;
}
.TierListNavigation nav ul li{
    margin-top: 0px;
    margin-left:0px;

    list-style:none;

}
.TierListNavigation nav ul li button{
    margin-top: 0px;
    margin-left:0px;

    list-style:none;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 20px;
    border-top: 2px solid skyblue;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom: 0;
}

.TierListNavigation nav ul li a{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 20px;
    border-top: 2px solid skyblue;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.TierListNavigation nav ul li a:not(active):hover{
    background-color: rgba(240,240,240,.9);
    color: white;
}

.TierListNavigation button{
    text-decoration: none;
    padding: 0px 10px;
    border-top: 2px solid skyblue;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: transparent;
}

.TierListNavigation nav.Menu .menuBar{
    display:flex;
    width: 35px;
    height: 5px;
    background-color: skyblue;
    margin: 6px 0;
}
.TierListNavigation nav .Menu{
    display:none;
    position: absolute;
    top: 1.2rem;
    background-color: rgba(240,240,240,0);
    border-radius: .5rem;
    font-family: bree serif;
    font-size: large;
    flex-direction: column;
    justify-content: space-between;
    width: 3.2rem;
    height:2rem;
    marginTop: -5;

    margin-right: 5px;
    border: 1px solid skyblue;
}
.TierListNavigation nav.Menu span{
    display: flex;
    min-height:0.4rem;
    width: 60%;
    background-color: skyblue;

    border-radius: 0.2rem;
}

.TierListNavigation .tokens{
    position:relative;
    top: 10px;
    left: -3px;
    width:35px;
    vertical-align: baseline;
    height:35px;
    display:inline-block;
}
.TierListNavigation .Dropdown{
    display: none;
}


@media (max-width: 1300px) {
    .TierListNavigation nav .Menu{
        display:flex;
    }

    .TierListNavigation .Dropdown{
        display: flex;
    }

    .TierListNavigation nav ul li a{
        display: none;

    }



    .TierListNavigation nav ul li a{
    }
    
}